
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default")
<body>
    @Html.Action("PartialWrap", "Default")
    @Html.Action("PartialNavbar", "Default")
    @Html.Action("PartialSlider", "Default")
    @Html.Action("PartialReservation", "Default")
    @Html.Action("PartialMiddleBanner", "Default")
    @Html.Action("PartialMenu", "Default")
    @Html.Action("PartialTestimonial", "Default")
    @Html.Action("PartialChef", "Default")
    @Html.Action("PartialBottomBanner", "Default")
    @Html.Action("PartialBookingBanner", "Default")
    @Html.Action("PartialFooter", "Default")
    @Html.Action("PartialLoader", "Default")
    @Html.Action("PartialScript", "Default")
</body>
</html>