@model List<TestFoodIt.Entities.Address>
@{
    ViewBag.Title = "AdddressList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Adres Bilgileri</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard/Index">Anasayfa</a></li>
            <li class="breadcrumb-item">Adresler</li>
            <li class="breadcrumb-item active" aria-current="page">Adres İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Telefon</th>
                                <th>E-posta</th>
                                <th>Website</th>
                                <th>Açıklama</th>
                                <th>Açık Adres</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.Website</td>
                                    <td>@item.Description</td>
                                    <td>@item.FullAddress</td>
                                    <td><a href="/Address/AddressDelete/@item.AddressId" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Address/AddressUpdate/@item.AddressId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }                          
                        </tbody>
                    </table>
                </div>
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @if (count >= 1)
                    {
                        <a href="/Address/AddressCreate" class="btn btn-primary disabled"><i class="fa fa-plus-circle"></i>Yeni Adres Girişi</a>
                    }
                    else
                    {
                        <a href="/Address/AddressCreate" class="btn btn-primary"><i class="fa fa-plus-circle"></i>Yeni Adres Girişi</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
