@model TestFoodIt.Entities.Admin
@{
    ViewBag.Title = "AdminUpdate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Kullanıcı Güncelleme Sayfası</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Product/ProductList">Anasayfa</a></li>
            <li class="breadcrumb-item">Kullanıcılar</li>
            <li class="breadcrumb-item active" aria-current="page">Kullanıcı Bilgi Güncelleme</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Güncelleme Paneli</h6>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("AdminUpdate", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            @Html.HiddenFor(x => x.AdminId)
                            <label>Adı Soyadı</label>
                            @Html.TextBoxFor(x => x.Namesurname, new { @class = "form-control" })
                            <br />
                            <label>Kullanıcı Adı</label>
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                            <br />
                            <label>Parola</label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                            <br />
                            <div class="row">
                                <div class="col col-md-2">
                                    <label>Şu anda yüklü görsel</label>
                                    <img src="@Model.UserPhotoURL" style="height:250px;width:200px;" class="rounded mx-0 d-block" alt="@Model.UserPhotoURL">
                                </div>
                                <div class="col col-md-10">
                                    <label>Görsel URL</label>
                                    <input type="file" name="UserPhotoURL" />
                                </div>
                            </div>
                            <br />
                        </div>
                        <button type="submit" class="btn btn-success">Güncelle</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>